
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="static/js/prism.js"></script>
  <link href="static/css/prism.css" rel="stylesheet" />


  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ben Davis DevOps Projects</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Butterfly
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo"><img src="static/img/Ben Logo wide.png" alt="" class="img-fluid"></a>
    <!-- Uncomment below if you prefer to use text as a logo -->
    <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="index.html">Home</a></li>
        <li><a class="nav-link scrollto" href="pipeline1.html">1. Automated Infrastructure Blueprint</a></li>
        <li><a class="nav-link scrollto" href="pipeline2.html">2. CI/CD Container Deployment</a></li>
        <li><a class="nav-link scrollto active" href="pipeline3.html">3. Serverless Datafeed</a></li>
        <li><a class="nav-link scrollto" href="https://www.linkedin.com/in/benjamin-davis-awssaa-dc/" target="_blank">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Serverless Datafeed Pipeline</h1>
          <h2>See the Full-Stack app I built to stay up to date on the latest versions of my files with Python and DynamoDB. The full code walkthrough is below!</h2>
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/dbsample.png" class="img-fluid border" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
<!-- ======= About Section 1 ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch position-relative order-lg-1 order-xl-1 order-2">
      <div class="code-container">
        <div class="code-banner">X-Ray - Python</div>
        <pre>
          <code class="language-python">
import requests
import base64
import boto3
            
def lambda_handler(event, context):
    # Scrape the webpage
    url = "https://api.github.com/repos/*"
    response = requests.get(url)
                
    if response.status_code == 200:
        page_text = response.json()["content"]
        decoded_bytes = base64.b64decode(page_text)
        scraped_text = decoded_bytes.decode(errors='replace')
            
        print("Scraped webpage text:")
        print(scraped_text)
                    
        # Put the scraped text into DynamoDB
        dynamodb = boto3.resource('dynamodb', region_name='us-east-1')
        table = dynamodb.Table('x-ray_table')
            
        response = table.put_item(
            Item={
                'file_path': url,
                'file_content': scraped_text
            }
        )
            
        return {
            'statusCode': 200,
            'body': 'Item added successfully to DynamoDB table.'
        }
    else:
        return {
            'statusCode': response.status_code,
            'body': 'Failed to scrape webpage.'
        }</code>
        </pre><p>This code is live from my S3 bucket at <br>https://lambda-bucketpipeline2bd.s3.amazonaws.com/my_lambda_function.zip</p>
      </div>  
      
      </div>

      <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-6 px-lg-6 order-lg-2 order-xl-2 order-1">
        <h3>'X-ray App - A Full Stack Python REST API'</h3>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Dynamic Content</a></h4>
          <p class="description">The Xray-App is a two part web app that scrapes repositories, stores the data in DynamoDB, then displays the data here as HTML using Python Flask.</p>
        </div>


        <p>The X-ray app is an exciting project I developed to showcase my DevOps skills in infrastructure deployment. </p>
        <p>Since traditional portfolio websites were limited in demonstrating the backend aspects of my work, I set out to create a solution that allows visitors to delve into my infrastructure code and gain a deeper understanding of my expertise.</p>
        <p>This app is a reflection of similar projects I have done on the job, while being repurposed to provide a recursive look at my backend code while it runs.</p>
        <p>With this app, I wanted to ensure that potential employers or clients can explore my code and stay updated on the latest developments in my projects. By dynamically pulling the code directly from my repositories, I eliminate the hassle of manually updating snippets and ensure that viewers always have access to the most up-to-date information.</p>

        

      </div>
    </div>

  </div>
</section><!-- End About Section -->
<!--Section 2!-->
<section id="blue" class="about">
  <div class="container">

    <div class="row">
      <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Apache-flask.conf</h3>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">The server configuration file to allow Apache to serve our Flask site</a></h4>
          <p class="description">Python Flask can't run as its own website, so it needs help from Apache.</p>
        </div>
        <p>This tells Apache how to handle incoming requests on ports 80 and 443. This way we can use HTTPS and an SSL certificate to keep our site secure, while also bringing in additional capabilties from Python scripting.</p>
        <p>Setting up Apache to work with Flask isn't easy. It needs a whole new set of rules for how to handle a domain name and how to handle each type of web traffic. We also have to tell it where to look for our CSS and JS content.</p>
          
      </div>

      <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch position-relative">
        <div class="code-container">
          <div class="code-banner">X-Ray - Bash</div>
          <pre>
            <code class="language-bash">
# -*- apache -*-

<VirtualHost *:80>
    ServerName flask-apache
    DocumentRoot /var/www/html/apache-flask/
    ErrorLog /var/log/httpd/error.log
    CustomLog /var/log/httpd/access.log combined

    # Python application integration
    WSGIDaemonProcess /apache-flask processes=4 threads=20 python-path=/var/www/html/apache-flask/:/usr/bin/python
    WSGIProcessGroup /apache-flask
    WSGIScriptAlias / /var/www/html/apache-flask/apache-flask.wsgi

    <Directory "/var/www/html/apache-flask/">
        Header set Access-Control-Allow-Origin "*"
        WSGIProcessGroup /apache-flask
        WSGIApplicationGroup %{GLOBAL}
        Options +ExecCGI
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    Alias /static /var/www/html/apache-flask/static
</VirtualHost>

<VirtualHost *:443>
    ServerName flask-apache
    DocumentRoot /var/www/html/apache-flask/
    ErrorLog /var/log/httpd/error.log
    CustomLog /var/log/httpd/access.log combined

    # SSL Configuration
    SSLEngine on
    SSLCertificateFile /etc/ssl/mycerts/drbenjamindavis_com.crt
    SSLCertificateKeyFile /etc/ssl/mycerts/drbenjamindavis.com.key

    # Python application integration
    WSGIDaemonProcess /apache-flask-ssl processes=4 threads=20 python-path=/var/www/html/apache-flask/:/usr/bin/python
    WSGIProcessGroup /apache-flask-ssl
    WSGIScriptAlias / /var/www/html/apache-flask/apache-flask.wsgi

    <Directory "/var/www/html/apache-flask/">
        Header set Access-Control-Allow-Origin "*"
        WSGIProcessGroup /apache-flask-ssl
        WSGIApplicationGroup %{GLOBAL}
        Options +ExecCGI
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    Alias /static /var/www/html/apache-flask/static
</VirtualHost>
</code>
           </pre><p>This code is live from my <a href="https://github.com/benjamindavisdc/may23pipeline01/blob/main/apache-flask.conf">Github Repo</a></p>
        </div>  
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
<!-- ======= About Section 3 ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch position-relative order-lg-1 order-xl-1 order-2">
      <div class="code-container">
        <div class="code-banner">X-Ray - Python</div>
        <pre>
          <code class="language-python">
from flask import Flask, render_template
import boto3

app = Flask(__name__, static_url_path='/static')
app.static_folder = 'static'

@app.route('/')
@app.route('/index.html')
def index():
    data = get_data_from_database()
    return render_template('index.html', data=data)

@app.route('/pipeline1.html')
def pipeline1():
    data = get_data_from_database()
    return render_template('pipeline1.html', data=data)

@app.route('/pipeline2.html')
def pipeline2():
    data = get_data_from_database()
    return render_template('pipeline2.html', data=data)

@app.route('/pipeline3.html')
def pipeline3():
    data = get_data_from_database()
    return render_template('pipeline3.html', data=data)

def get_data_from_database():
    # Connect to DynamoDB and retrieve data
    dynamodb = boto3.resource('dynamodb', region_name='us-east-1')
    table_name = 'x-ray_table'
    table = dynamodb.Table(table_name)
    response = table.scan()
    data = response['Items']
    return data

if __name__ == '__main__':
    app.run()
</code>
        </pre><p>This code is under construction.</p>
      </div>  
      
      </div>

      <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-6 px-lg-6 order-lg-2 order-xl-2 order-1">
        <h3>app.py</h3>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Flask App Code</a></h4>
          <p class="description">This is the actual code that acts as the front end wrapper for our website.</p>
        </div>


        <p>I wanted to have the ability to 'GET' data from my database and add it to the site in real time. Regular HTML wouldn't cut it here.</p>
        <p>This code actually takes the place of my 'index.html' page as the root of this site, and the Python code is executed and it routes the user to specific pages.</p>
        <p>Now rather than simply delivering you HTML code, each page is actually a miniature Python app which delivers my HTML to you, along with any Python functions I want.</p>
        <p>In this case, I have been using Python to fill these text boxes with code from my DynamoDB database. All I have to do is tell Python the name of the database entry and it returns the scraped text.</p>

        

      </div>
    </div>

  </div>
</section><!-- End About Section -->


  <main id="main">
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h4>Find me on Linkedin</h4>
            <p>I am always excited about new opportunities in the Austin area.</p>
            <div><a href="https://www.linkedin.com/in/benjamin-davis-awssaa-dc/" class="btn-get-started scrollto">LinkedIn</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Benjamin Davis</h3>
            <p>
              Cloud Engineer <br>
              Austin, Tx<br>
              <br>
              <strong>Phone:</strong> (972) 310 8939<br>
              <strong>Email:</strong> <a href="mailto:benjamin.davs.dc@gmail.com">benjamin.davs.dc@gmail.com</a><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/in/benjamin-davis-awssaa-dc/">Linkedin</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/benjamindavisdc">Github</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>My Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cloud Infrastructure</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">System Administration</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Python Automation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Healthcare Industry Experience</h4>
            <p>I have treated over 30,000 patients as a primary healthcare provider and have deep expertise in all aspects of healthcare administration.</p>
            <p>I hope to one day develop the knowlege and skills to create a variety of tools to help doctors and patients acheive better results in less time.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Butterfly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/butterfly-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>